; This is false to avoid issues in GitHub actions
git-checks = false

publish-branch = master
shell-emulator=true
shamefully-hoist=true
enable-pre-post-scripts=true
package-manager-strict=false
node-options="--no-warnings"
ignore-workspace-root-check=true

@jsr:registry=https://npm.jsr.io
//npm.pkg.github.com/:_authToken=NPM_GITHUB_TOKEN

