---
import '../globals.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <title>Rehype Pretty Code</title>
  </head>
  <slot />
</html>
