:root {
  color-scheme: dark;
  --sl-sidebar-width: 16rem;
}

.twoslash-popup-docs {
  font-family: var(--tw-font-family) !important;
}

figure {
  overflow-x: hidden;
}

pre,
code,
figure {
  overflow-x: auto;
  position: relative;
}

.twoslash > * {
  z-index: 1000 !important;
  overflow-x: auto !important;
}

.twoslash-popup-hover,
.twoslash-popup-code,
.twoslash-popup-arrow,
.twoslash-popup-container {
  @apply backdrop-blur-xl;
  color: #f9f9f9 !important;
  overflow-x: auto !important;
  background-color: var(--tw-bg-opacity) !important;
}

.twoslash-popup-docs-tag {
  width: 100%;
}

span[data-line]:empty {
  display: none !important;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button[title="Copy code"] {
  background-color: unset;
}

span > code > button {
  display: none;
  width: 0;
  height: 0;
}

#_top {
  font-weight: 900;
  @apply dark:text-[rgb(255_245_224)] text-[rgb(38,38,43)];
}

a > code {
  text-decoration: none !important;
  text-decoration-style: unset !important;
  text-decoration-color: unset !important;
  text-decoration-thickness: unset !important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

h2::after,
h3::after,
h4::after,
h5::after {
  content: "#";
  color: #ffffff;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  position: relative;
  visibility: hidden;
}

h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after {
  visibility: visible;
}

h3 code {
  @apply !text-lg md:!text-xl;
}

pre {
  @apply !px-0 rounded-lg;
}

code {
  @apply !leading-loose;
}

pre > code {
  /* 
   * Starlight unsets some styles so important is needed here.
   * https://github.com/withastro/starlight/blob/main/packages/starlight/style/markdown.css#L94
   */
  counter-reset: line !important;
  overflow-x: auto !important;
}

figcaption {
  /* https://github.com/withastro/starlight/blob/main/packages/starlight/style/markdown.css#L4  */
  margin-bottom: -1rem;
}

figure[data-rehype-pretty-code-figure],
pre[data-theme*=" "],
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  figure[data-rehype-pretty-code-figure],
  pre[data-theme*=" "],
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

.prose {
  @apply max-w-[55rem] sm:text-lg md:text-xl !leading-7 sm:!leading-9;
}

pre [data-line] {
  padding: 0 1rem;
  border-left: 2px solid transparent;
}

/* if line numbers, then pre [data-line] padding is 0 */
span[data-line-numbers] [data-line] {
  padding: 0;
  border-left: 0;
  border-right: 2px solid transparent;
}

[data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  @apply bg-zinc-600/50 rounded;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-chars-id] {
  @apply shadow-none;
  padding: 0.25rem;
  border-bottom-width: 2px;
}

[data-chars-id] span {
  color: inherit !important;
}

[data-chars-id="v"] {
  @apply !text-pink-300 bg-rose-800/50 border-b-pink-600 font-bold;
}

[data-chars-id="s"] {
  @apply !text-yellow-300 bg-yellow-800/50 border-b-yellow-600 font-bold;
}

[data-chars-id="i"] {
  @apply !text-purple-200 bg-purple-800/50 border-b-purple-600 font-bold;
}

figure[data-rehype-pretty-code-figure] {
  background: #151618;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #121212;
}

[data-rehype-pretty-code-title] {
  width: min-content;
  background: #101010;
  border-top: 1px solid #3c3c3c;
  @apply text-zinc-200 rounded-t-md py-2 px-3 font-semibold text-sm;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title])
  pre {
  border: unset;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

figure {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

article p {
  line-height: 2.25rem;
}
