name: Checks
on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - 'master'

defaults:
  run:
    shell: bash

env:
  ACTIONS_RUNNER_DEBUG: true
  NEXT_TELEMETRY_DISABLED: '1'
  ASTRO_TELEMETRY_DISABLED: '1'
  NODE_OPTIONS: '--no-warnings'

jobs:
  checks:
    name: Lint/Typecheck/Build/Test
    runs-on: ['ubuntu-latest']
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Get pnpm Version'
        id: pnpm-version
        run: |
          PNPM_VERSION=$(cat package.json | jq --raw-output '.packageManager' | awk -F'@' '{print $2}')
          echo "PNPM_VERSION=$PNPM_VERSION" >> $GITHUB_OUTPUT

      - name: 'Setup pnpm'
        uses: pnpm/action-setup@v3
        with:
          version: ${{ steps.pnpm-version.outputs.PNPM_VERSION }}
          

      - name: 'Setup Node.js'
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
          
      - name: 'Install Dependencies'
        run: pnpm install

      - name: 'Lint'
        run: |
          pnpm format
          pnpm lint
          
      - name: 'Type Check'
        run: pnpm typecheck

      - name: 'Build'
        run: pnpm build

      - name: 'Test'
        run: pnpm test

      - name: 'Check Dependencies'
        run: pnpm dlx sherif@latest --ignore-dependency tailwindcss

      - name: 'Check Packages'
        run: pnpm check-package
