name: CI
on:
  push:
    branches:
      - 'master'
  pull_request:

jobs:
  checks:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
      - run: npm install
      - run: npm test
