name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - 'v*'

defaults:
  run:
    shell: bash

env:
  NODE_OPTIONS: '--no-warnings'
  NEXT_TELEMETRY_DISABLED: '1'
  ACTIONS_RUNNER_DEBUG: true

jobs:
  changelog:
    name: 'Generate Changelog'
    runs-on: ['ubuntu-latest']
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 'Setup Node.js'
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: 'lts/*'

      - name: 'Generate Changelog'
        run: npx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-npm:
    name: 'NPM Registry'
    needs: [changelog]
    permissions:
      id-token: write
      contents: write
    runs-on: ['ubuntu-latest']
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Setup Node.js'
        uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'

      - name: 'Install Dependencies'
        run: npm clean-install

      - name: 'Publish to NPM'
        run: |
          npm publish --access='public' --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} ****i have to go back and learn how to create these tokens fluently..ALTHOUGH, it wont do me much good because NPM___ALWAYS makes me create another account after i dongt do my 2 factor soon enough.//
          # https://docs.npmjs.com/generating-provenance-statements
          NPM_CONFIG_PROVENANCE: true
